body {
    font-weight: 800;
    background: black;
    display: flex;
    justify-content: center;
}

main {
    margin-top: 450px;
    display: flex;
    width: 1600px;
    height: 160px;
    background-color: white;
    justify-content: center;
    
}

.search-engine {
    flex-basis: 10%;
    background: black;
    margin: 5px;
    color: white;
}

.search-engine #btn {
    width: 100%;
    height: 100%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#search-bar {
    flex-basis: 90%;
    background: crimson;
    margin: 5px 5px 5px 0;
    
}

#search-bar input {
    width: 100%;
    height: 100%;
    background: darkblue;
    font-size: 58px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

#submitBtn {
    display: none;
    padding-right: 9999;
}

.naver {
    display: none;
}